<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="awscli" />
  <package id="azure-cli" />
  <package id="bazel" />
  <package id="bluej" />
  <package id="cyberduck" />
  <package id="dart-sdk" version="3.4.1" />
  <package id="devtoys" />
  <package id="docker-desktop" />
  <package id="dotnetfx" />
  <package id="fvm" />
  <package id="fzf" />
  <package id="gh" />
  <package id="git" />
  <package id="jq" />
  <package id="kubernetes-cli" />
  <package id="kubernetes-helm" />
  <package id="neovim" />
  <package id="ollama" />
  <package id="openjdk" />
  <package id="openlens" />
  <package id="powertoys" />
  <package id="starship" />
  <package id="volta" />
  <package id="vscode" />
  <package id="wget" />
  <package id="winfetch" />
  <package id="wsl2-distro-manager" />
  <package id="zoxide" />
</packages>